<mat-toolbar color="primary">
  <span >
    <a routerLink="/">To do List</a>
  </span>
  <span class="spacer"></span>
  <ul >
    <li *ngIf="userAuth">
        <a routerLink="/create" routerLinkActive="mat-accent" mat-button >
          	New Post
        </a>
	</li>
	<li *ngIf="!userAuth">
		<a routerLink="auth/login" routerLinkActive="mat-accent" mat-button >
			Login
		</a>
	</li>
	<li *ngIf="!userAuth">
		<a routerLink="auth/signUp" routerLinkActive="mat-accent" mat-button >
			Sign Up
		</a>
	</li>
	<li *ngIf="userAuth">
		<a (click)="onLogOut()" routerLinkActive="mat-accent" mat-button >
			Logout
		</a>
	</li>
  </ul>
</mat-toolbar>
	<h4 *ngIf="authService.username$ | async">
		Logged as: {{authService.username$|async}}
	</h4>
<mat-divider></mat-divider>
