\:host
	margin-top: 1rem !important
mat-card
  width: 100%
  margin: auto
  margin-top: 1rem

  mat-form-field
    width: 100%
  textarea
      width: 100%
      border: 1px solid purple
      border-radius: 2px
      margin-bottom: 1rem
  input
    display: block
    width: 100%
  mat-divider
    margin: 1rem

mat-spinner
  margin: auto

input[type="file"]
  visibility: hidden

.image-preview
  height: 5rem
  margin: 1rem 0
  img
    height: 100%
