<mat-card>
	<form #postForm="ngForm" (submit)="onAddPost(postForm)">
		<mat-form-field>
        <input
            #title="ngModel"
            name="title"
            matInput
            ngModel
            required
            type="text">
            <mat-error *ngIf="title.invalid">TITLE ERORR: tilte is missing</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea
          #content="ngModel"
          matInput
          ngModel
          required
          name="content">
        </textarea>
        <mat-error *ngIf="content.invalid">CONTENT ERORR: content is missing</mat-error>
      </mat-form-field>
      <br>
      <button
        mat-flat-button
        color="primary"
        type="submit">
      Save Post
    </button>
    <mat-error *ngIf="postForm.status!=='VALID'">{{error}}</mat-error>
	</form>
</mat-card>

