
<mat-accordion multi="true" >
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <h3>{{post.title}}</h3>
      <span class="spacer"></span>
      <button mat-button mat-raised-button [routerLink]="['/edit' , post.id]">
        Quick edit
      </button>
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-button mat-raised-button color="primary" [routerLink]="['/edit' , post.id]">
        Edit that shiieeet
      </button>
      <button mat-button mat-raised-button color="warn" (click) ="onDelete(post.id)" >
        Delete that shiieeet
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0 && !isLoading" class="info-text body-1">
  <mat-spinner></mat-spinner>
  Theres no posts here yet. ...
</p>
