
<mat-accordion multi="true" >
	<mat-expansion-panel *ngFor="let post of posts">
		<mat-expansion-panel-header>
			<h3>{{post.title}}</h3>
			<span class="spacer"></span>
			<button *ngIf="userAuth && userId == post.createdBy" mat-button mat-raised-button [routerLink]="['/edit' , post.id]">
				Quick edit
			</button>

		</mat-expansion-panel-header>
		<div class="post-image">
			<img [src]="post.imageUrl" [alt]="post.title">
		</div>
		<p>{{post.content}}</p>
		<mat-action-row *ngIf="userAuth && userId == post.createdBy">
			<button mat-button mat-raised-button mat-raised-button  [routerLink]="['/edit' , post.id]">
				Edit that shiieeet
			</button>
			<button mat-button mat-raised-button color="warn" (click) ="onDelete(post.id)" >
				Delete that shiieeet
			</button>
		</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>

<mat-paginator
	*ngIf = "posts.length > 0"
	[length] = "totalSize"
	([pageSize]) = "pageSize"
	[pageSizeOptions] = "pageSizeOptions"
	(page) = "onChangePage($event)">
</mat-paginator>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<p *ngIf="posts.length <= 0 || isLoading" class="info-text body-1">
	Theres no posts here yet. ...
</p>
